.frcontainer {
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}

.image-section {
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}
.image-section img {
  width: 100%;
  object-fit: fill; /* Fit the image inside the container while preserving aspect ratio */
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
