.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  /* background-image: url("bg2.jpg");
  background-size: cover; */
  /* backdrop-filter: blur(5px); */
  /* filter: blur(10px);  */
}

.App::before {
  content: "";
  background: url("./images/bg2.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  filter: blur(4px); /* Apply a blur filter to the background image */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
