@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 440px;
  height: 480px;
  padding: 30px;
  animation: rotateX 0.7s ease-in-out;
  /* transform-origin: right; */
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgb(204, 219, 232) -3px -3px 6px 1px inset;
  /* box-shadow: rgba(0, 0, 0, 0.56) 10px 22px 20px 4px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  border-radius: 15px;

  background-color: rgb(209 255 249 / 69%);
}

@keyframes rotateX {
  0% {
    /* transform: rotateX(180deg); */
    opacity: 0;
  }
  100% {
    /* transform: rotateX(0deg); */
    opacity: 1;
  }
}

.login-header {
  text-align: center;
  margin: 20px 0 40px 0;
}
.login-header header {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.input-box {
  width: 100%;
  height: 60px;
  font-size: 17px;

  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: none;
  transition: 0.3s;
}
.input-field {
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0px 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: 0.3s;
}
::placeholder {
  font-weight: 500;
  color: #222;
}
.input-field:focus {
  width: 105%;
}
.forgot {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 40px 15px;
  /* margin-bottom: 40px; */
}
section {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}
#check {
  margin-right: 10px;
}
.toggle {
  text-decoration: none;
}
.toggle:hover {
  text-decoration: underline;
}
section .toggle {
  color: #555;
}
.input-submit {
  position: relative;
}
.submit-btn {
  width: 100%;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.input-submit label {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.submit-btn:hover {
  background: #000;
  transform: scale(1.05, 1);
}
.sign-up-link {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.sign-up-link a {
  color: #000;
  font-weight: 600;
}
